{% extends 'base.html.twig' %}
{% block title %} {{ program.title }} Season #{{ season.id }}{% endblock %}

{% block body %}

<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <h1 class="mt-0">{{ season.number }} {{season.year }}</h1>
  </div>
  {% for episode in episodes %}
        <div>
            <h2>Episode {{ episode.number }}: {{ episode.title }}</h2>
              
        </div>
    {% else %}
        Aucune episodes trouvés.
    {% endfor %}
</div>
{#<a href="{{ path('show_episode') }}"
    Show episode
</a>#}
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}
